{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} {{ _('Log in') }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="common-header">
        <h1>{{ _('Log in') }}</h1>
    </div>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form, button_map={'submit':'success'}, novalidate=True) }}
    <br>
    <p>{{ _('New user?') }} <a href="{{ url_for('register_owner.html') }}">{{ _('Click here to register') }}</a>.</p>

</div>
{% endblock %}