{% extends "base.html" %}
{% block content %}
{% for property in all_properties %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="owl-carousel slide-one-item">
                    <div><img src="{{ url_for('static', filename='images/' + property.image_file) }}" alt="Image" class="img-fluid"></div>
                </div>
            </div>
            <div class="col-lg-7 pl-lg-5 ml-auto">
                <div class="mb-5">
                    <h3 class="text-black mb-4">{{ property.location }}</h3>
                    <p>{{ property.rent }}</p>
                    <p>{{ property.content }}</p>
                    <p><a href="" class="btn btn-primary">Book Property</a></p>
                    <p><a href="" class="btn btn-primary btn-sm">Contact Owner</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}